DATABASE_URL=postgresql://user:password@localhost:5432/pillpilot
BETTER_AUTH_SECRET=LBUAM/JoCYOS+mCoPAH4pdrhKc70U+4osPSimicCMXo=

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

ANTHROPIC_API_KEY=your-anthropic-api-key
NEXT_PUBLIC_APP_URL=http://localhost:3000
